{% extends 'base.html' %}
{% load static %}

{% load markdownify %}
{% load crispy_forms_tags %}


{% block content %}

<div class="container my-5">
    
    {% if preview %}
        {{ preview.title | markdownify }}
    {% endif %}
        
    <form class="col-lg-8 offset-2" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form | crispy }}
        <button type="submit" class="btn btn-primary" name='action' value='SAVE'>Create</button>
        <button type="submit" class="btn btn-primary"name='action' value='PREVIEW'>Preview</button>
    </form>
</div>


<script src="{% static 'js/slugify.js' %}"></script>
{% endblock content %}
    
